*,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    padding-bottom: 75px;
}

.header {
    margin-bottom: 50px;
}

.title {
    margin-bottom: 25px;
}

.filter {
    width: 100%;
}

.post {
    border: 1px solid black;
    border-radius: 5px;
    padding: 20px;
    margin-top: 12px;
    margin-bottom: 12px;
}

.posttitle {
    margin-bottom: 7px;
}

.paragraph {
    color: red;
}

.loader {
    opacity: 0;
    display: flex;
    position: fixed;
    bottom: 50px;
    transition: opacity 0.3s ease-in;
    color: black;
}

.loader.show {
    opacity: 1;
}

.circle {
    background-color: black;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 5px;
    animation: bounce 0.5s ease-in infinite;
}

.circle:nth-of-type(2) {
    animation-delay: 0.1s;
}

.circle:nth-of-type(3) {
    animation-delay: 0.2s;
}

@keyframes bounce {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }
}